div .wall-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25em;
  border: 1px solid #ccc;
  padding: 1rem;
}

.wall {
  margin: 1.5em 0;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  background-color: #212529;
  color: #fff;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.wall .window {
  position: absolute;
  border-radius: 3px;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 30%;
  transform: translate(-10%, -50%);
  font-size: 1.5em;
  background: rgb(93, 131, 255);
  font-weight: bold;
}

.wall .door {
  position: absolute;
  border-radius: 3px;
  left: 30%;
  bottom: 0;
  width: 20%;
  height: 70%;
  transform: translate(-90%, 0%);
  font-size: 1.5em;
  background: rgb(85, 50, 50);
  font-weight: bold;
}

.btn{
  width: 80%;
  margin: 1rem auto;
}

@media  (min-width: 1000px) {
  .calc-container {
    width: 60%;
  }
}

@media  (min-width: 1200px) {
  .calc-container {
    width: 50%;
  }
}

@media  (max-width: 500px) {
  .description {
    font-size: 16px;
  }
  div .wall-form {
    height: 20em;
  }
}

@media  (max-width: 400px) {
  div .wall-form {
    height: 20em;
  }
  div label {
    font-size: 15px;
  }

  .col span {
    font-size: 15px;
    padding: 0.3rem;
  }

  .col {
    padding: 0;
  }

  .door, .window {
    color: rgba(255, 255, 255, 0)
  }
}
