main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
}

main h4 {
  text-align: center;
  margin: 0 0;
}

main ul {
  font-size: 1.5rem;
  height: 30vh;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-top: -4rem;
}
