body {
  background-color: #dce4f8;
}

.initial-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  text-align: center;
  margin: 0 1.5em;
}

.title-initial-page {
  font-size: 1.5em;
  font-weight: bold;
}

.description-initial-page {
  font-size: 1rem;
}