label input {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin: 0 0.8rem;
}
label {
  align-items: center;
  display: flex;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
